{% extends 'base.html' %}

{% block title %}
Estadísticas
{% endblock %}

{% block content %}

<h1>Estadísticas</h1>

<h2>Miembros registrados por día</h2>
<div id="grafico-lineas" class="grafico"></div>

<h2>Actividades por tipo</h2>
<div id="grafico-torta" class="grafico"></div>

<h2>Actividades por comuna</h2>
<div id="grafico-barras" class="grafico"></div>

<p>
    <a href="{{ url_for('index') }}">
        Volver a la portada
    </a>
</p>

{% endblock %}

{% block javascript %}

<style>
.grafico {
    width: 900px;
    height: 400px;
    margin-bottom: 40px;
}
</style>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.pie.min.js"></script>

<script src="{{ url_for('static', filename='javascript/estadisticas.js') }}"></script>

{% endblock %}