<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado de Usuarios</title>
    <link rel="stylesheet" href="../css/informar_actividad.css">
</head>
<body>
    <div class="main-container"> 
        <h1>Informar Actividad</h1>
        <div id = "val-box" hidden>
            <h2 id="val-msg"></h2>
            <ul id="val-list"></ul>
        </div>
        <form name="informar-actividad-form" method="post" enctype="multipart/form-data">
            <label for = "Dia">Día:</label>
            <input type="date" id="Dia" name="Dia" required>

            <label for = "horario">Horario:</label>
            <input type="time" id="horario" name="horario" required>

            <label for = "actividad">Actividad:</label>
            <input type="text" id="actividad" name="actividad" required>

            <label for = "categoria">Categoría:</label>
            <select id="categoria" name="categoria" required>
                <option value="" disabled selected>Seleccione una categoría</option>
                <option value="Deporte">Deporte</option>
                <option value="Cultural">Cultural</option>
                <option value="Social">Social</option>
                <option value="Académico">Académico</option>
                <option value="Otra">Otra</option>
            </select>
            
            <label for = "descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" required></textarea>

            <label for = "foto"> Foto</label>
            <input type="file" id="foto" name="foto" accept="image/*" required>

            <button type="button" id="informaractividad-btn">Informar Actividad</button>
        </form>
    </div>
    <script src="../javascript/informar_actividad.js"></script>
</body>
</html>