{% extends "base.html" %}{% block title %}Listado de miembros{% endblock %}{% block css %}
<link
rel="stylesheet"
href="{{ url_for('static', filename='css/listado.css') }}"
>
{% endblock %}
{% block content %}
<div class="container">

    <h1>Listado de miembros</h1>

    <div class="top-buttons">
            <button name="volver-btn" id="volver-btn">Volver</button>
    </div>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Comuna</th>
            </tr>
        </thead>
        <tbody>
            {% for miembro in miembros %}
            <tr onclick="toggleDetalle('{{ miembro.id }}')">
                <td>{{ miembro.nombre }}</td>
                <td>{{ miembro.email }}</td>
                <td>{{ miembro.telefono }}</td>
                <td>{{ miembro.comuna.nombre }}</td>
            </tr>

            <tr id="detalle-{{ miembro.id }}" class="detalle-row" >
                <td colspan="4">
                    <div class="detalle-container">
                        <h2>Actividades</h2>
                        {% for actividad in miembro.actividades %}
                        <div class="actividad-card">
                            <p>
                                <strong>Nombre:</strong>
                                {{ actividad.nombre }}
                            </p>
                            <p>
                                <strong>Tipo:</strong>
                                {{ actividad.tipo }}
                            </p>
                            <p>
                                <strong>Día:</strong>
                                {{ actividad.dia }}
                            </p>
                            <p>
                                <strong>Hora inicio:</strong>
                                {{ actividad.hora_inicio }}
                            </p>
                            <p>
                                <strong>Duración:</strong>
                                {{ actividad.duracion }}
                            </p>
                            <p>
                                <strong>Descripción:</strong>
                                {{ actividad.descripcion }}
                            </p>
                            <div class="fotos-container">
                                {% for foto in actividad.fotos %}
                                <img src="/{{ foto.ruta_archivo }}" class="actividad-foto" alt="Foto actividad">
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <div class="pagination">
        {% if page > 1 %}
        <a href="{{ url_for('listado', page=page-1) }}">
            <button>Anterior</button>
        </a>
        {% endif %}
        <span>
            Página {{ page }} de {{ total_pages }}
        </span>
        {% if page < total_pages %}
        <a href="{{ url_for('listado', page=page+1) }}">
            <button>Siguiente</button>
        </a>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block javascript %}

<script
src="{{ url_for('static', filename='javascript/listado.js') }}"
></script>

{% endblock %}